body {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.links a, .backlinks {
    text-decoration: none;
    color: black;
    float: right;
    margin: auto 40px;
    font-size: 20px; 
}

.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    clear: both;
    text-align: center;
}

.container > .google {
    font-size: 100px;
    /* margin: auto auto 0; */
    margin: auto auto 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container > .google > .google-images {
    font-size: 15px;
}

.input-box {
    width: 581px;
    height: 44px;
    margin: 10px auto auto;
    border-radius: 18% 14% 10% 12% / 100% 98% 98% 100%;  
}

.query-params {
    margin: -50px auto auto;
}

input[type=text] {
    font-size: 16px;
    margin: -37px 0px 0px;
    padding: 5px 8px 0px 14px;
}

.google-search {
    margin: 20px auto auto;
    display: flex;
    flex-wrap: wrap;
    width: 127.79px;
    height: 36px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    border-radius: 7% 10% 8% 11% / 28% 33% 22% 19%;
}

@media only screen and (max-width: 768px) {
    a, .backlinks {
        font-size: 15px;
    }

    .container > .google {
        font-size: 50px;
        margin: auto auto 50px;
    }

    .input-box {
        width: 300px;
        height: 30px;
        /* padding: auto 10px; */
    }

    input[type=text] {
        font-size: 12.5px;
        margin: 2.5px 10px;
    }
}

input:focus {
    outline: none;
    box-shadow: none;
}

/* .row {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 100px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    /* justify-items: stretch; 
    clear: both
} */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    clear: both;
}

.column {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* margin: 140px 0px 0px 0px; */
    flex-grow: 1;
}

.staticlink {
    position: static !important; 
}

/* .property > .spacing {
        grid-column-start: 1;
    grid-column-end: 3;
    margin: 50px 0px 0px 0px; 
} */